@model IEnumerable<OnlineCinema.Models.MovieModel>
@{ViewBag.Title = "| Search";}

@if (ViewBag.Alert != null)
{
    <div class="offset-md-4 col-md-4">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@ViewBag.Alert</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}
<div class="row pt-2">
    <h2>Search Results</h2>
    <hr />
</div>
<div class="row">
    @if (Model != null)
    {
        foreach (var movie in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <img src="@Url.Content(movie.PosterPath)" class="card-img-top" />
                        <h3 class="card-title">@Html.DisplayFor(modelItem => movie.Title)</h3>
                        <h5 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => movie.Director)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => movie.Synopsis)</p>
                        <div class="input-group">
                            <span class="input-group-text btn-success">@Html.DisplayFor(modelItem => movie.Price)</span>
                            <a class="btn btn-primary" type="button" href="@Url.Action("Movie", "Home", new { id = movie.Id, title = movie.Title })">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>No search results found</h3>
    }
</div>