@model OnlineCinema.Models.UserModel
@{ViewBag.Title = "| Login";}

<h4>Login to Online Cinema</h4>
<hr />
@if (TempData.ContainsKey("Alert"))
{
    <div class="offset-md-4 col-md-4">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@TempData["Alert"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

    <input type="submit" value="Login" class="btn btn-primary mt-2" />
    <h3 class="text-danger">@ViewBag.Message</h3>
}
<p>Don't have an account? Register now to watch your favorite movies!</p>
<div class="row">
    <div class="col-1">
        <a class="btn btn-secondary" type="button" href="@Url.Action("Index", "Home")">Home</a>
    </div>
    <div class="col-1">
        <a class="btn btn-success" type="button" href="@Url.Action("Register", "User")">Register</a>
    </div>
</div>