@model IEnumerable<OnlineCinema.Models.PurchaseModel>
@{ViewBag.Title = "| Transaction Log";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<h2>Online Cinema Transaction Database</h2>
<hr />

<div class="row justify-content-between">
    <div class="col-5">
        <span class="btn btn-outline-success">
            Total Revenue: Rp @ViewBag.Revenue
        </span>
    </div>
    <div class="col-4">
        <form onsubmit="window.location = '/Purchase/Search/?param=' + search.value; return false;">
            <div class="input-group mb-1">
                <input id="search" placeholder="Search Transaction" type="search" name="search" class="form-control">
                <button type="submit" value="Send" class="btn btn-success">Search</button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(purchase => purchase.Id)
        </th>
        <th>
            @Html.DisplayNameFor(purchase => purchase.Username)
        </th>
        <th>
            @Html.DisplayNameFor(purchase => purchase.Title)
        </th>
        <th>
            @Html.DisplayNameFor(purchase => purchase.Price)
        </th>
        <th>
            @Html.DisplayNameFor(purchase => purchase.Time)
        </th>
        <th></th>
    </tr>

    @foreach (var purchase in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => purchase.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => purchase.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => purchase.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => purchase.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => purchase.Time)
            </td>
        </tr>
    }
</table>